{:paths   ["src" "resources"]
 :deps    {babashka/fs                {:mvn/version "0.5.24"}
           babashka/process           {:mvn/version "0.6.23"}
           io.github.paintparty/bling {:mvn/version "0.4.2"}
           org.babashka/cli           {:mvn/version "0.8.62"}}
 :aliases {:dpm
           {:deps      {io.github.filipesilva/datomic-pro-manager {:git/tag "v1.0.0" :git/sha "abe0a40"}}
            :main-opts ["-m" "filipesilva.datomic-pro-manager"]}}}
